@using BackUpSystem.Web.Areas.Admin.Models
@model EditViewModel

<form class="form-horizontal" asp-controller="UserManagement" asp-action="Edit">
    <div class="form-group">
        <label asp-for="@Model.BirthDate" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input id="birthdate" type="datetime" class="form-control" asp-for="@Model.BirthDate">
        </div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Name" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="@Model.Name">
            <span class="text-danger" asp-validation-for="@Model.Name"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.UserImageUrl" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="@Model.UserImageUrl">
            <span class="text-danger" asp-validation-for="@Model.UserImageUrl"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.IsAdmin" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input type="checkbox" class="form-control" asp-for="@Model.IsAdmin">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit">EDIT</button>
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/lib/jquery-ui/jquery-ui.min.js">
        
    </script>

    <script>
        $(function () {
            $('#birthdate').datepicker({
                dateFormat: $.datepicker.ISO_8601,
                maxDate: 0,
                minDate: new Date(1900, 1 - 1, 1),
                changeYear: true,
                changeMonth: true
            });
        });
    </script>
 }

