@using BackUpSystem.DTO
@model UserDto

<div>
    <div>
        BirthDate: @Model.BirthDate
    </div>

    <div>
        <form asp-controller="UserManagement" asp-action="Edit" asp-route-id="@Model.Id">
            <input type="hidden" asp-for="@Model.Id" />
            <button type="submit">-EDIT- </button>
        </form>
    </div>
</div>

<br><br>

<div>
    <div>
        Name: @Model.Name
    </div>

    <div>
        <form asp-controller="UserManagement" asp-action="UpdateName" asp-route-id="@Model.Id">
            <input type="hidden" asp-for="@Model.Id" />
            <input type="text" name="Name:">
            <button type="submit">-EDIT- </button>
        </form>
    </div>

</div>

<br><br>

<div>
    <div>
        UserImageUrl: @Model.UserImageUrl
    </div>
    <div>
        <form asp-controller="UserManagement" asp-action="Edit" asp-route-id="@Model.Id">
            <input type="hidden" asp-for="@Model.Id" />
            <button type="submit">-EDIT- </button>
        </form>
    </div>
</div>

<br><br>

<div>
    <div>
        IsAdmin: @Model.IsAdmin
    </div>
    <div>
        <form asp-controller="UserManagement" asp-action="UpdateAdmin" asp-route-id="@Model.Id">
            <input type="hidden" asp-for="@Model.Id" />
            <button type="submit">-EDIT- </button>
        </form>
    </div>
</div>