@using BackUpSystem.Web.Models.HomeViewModels
@model TimelineViewModel

<div>
    <ul>
        <li>
            <img src="@Model.TwiitterAccountInfo.ImageUrl" alt="@Model.TwiitterAccountInfo.Name Profile Image" />
        </li>
        <li>
            <h2>@Model.TwiitterAccountInfo.Name</h2>
        </li>
        <li>
            <h5>@Model.TwiitterAccountInfo.Description</h5>
        </li>
        @{
            var shortDate = Model.TwiitterAccountInfo.JoinedDate.ToString();
            shortDate = shortDate.Substring(0, shortDate.IndexOf(' '));
        }
        <li>
            <h5>Joined @shortDate</h5>
        </li>
        <li>
            <h5>Tweets @Model.TwiitterAccountInfo.TweetsCount</h5>
        </li>
        <li>
            <h5>Followers @Model.TwiitterAccountInfo.FollowersCount</h5>
        </li>
        <li>
            <h5>Following @Model.TwiitterAccountInfo.FollowingCount</h5>
        </li>
    </ul>
</div>

<a asp-controller="TwitterAccount" asp-action="DeleteTwitterAccountFromFavorites"
   asp-route-id="@Model.TwiitterAccountInfo.Id"
   class="btn">
    <i class="fa fa-remove"></i> Remove from favorites
</a>

@if (Model.Tweets.Any())
{
    @Html.Partial("_TimelinePartial", Model)
}
else
{
    <p2>@Model.TwiitterAccountInfo.Name has no posts yet...!</p2>
}
